name: "MRX Project"
on:
  workflow_dispatch:
    inputs:
      ip:
        description: "Target IP"
        required: true
        type: string
      port:
        description: "Target Port" 
        required: true
        type: string
      duration:
        description: "Target Duration"
        required: true
        type: string
      packet_size:
        description: "Packet Size"
        required: true
        type: string
      threads:
        description: "Connection Threads"
        required: true
        type: string

jobs:
  network-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        worker: [1, 2, 3, 4, 5, 6, 7]
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Make binary executable  
      run: chmod +x mrx
    - name: Run Network Test
      run: python3 main.py ${{ inputs.ip }} ${{ inputs.port }} ${{ inputs.duration }} ${{ inputs.packet_size }} ${{ inputs.threads }}
